<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/maps.css" type="text/css">
</head>

<body>
    <% include ../partials/header %>
    
    <% include ../partials/services.ejs %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTCjCKuLzVJQ0hx83pbqhTwM6Cz-bJ_4c&callback=initMap">
    </script>
</body>


</html>